@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Lato', sans-serif;
}

.clip-path-left-top {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.sm\:clip-path-left-top {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.md\:clip-path-left-top {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.lg\:clip-path-left-top {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.xl\:clip-path-left-top {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}